<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Eclipse</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    </head>
    <body>
        <div class="fog">
                <div class="fog-cloud cloud1"></div>
                <div class="fog-cloud cloud2"></div>
                <div class="fog-cloud cloud3"></div>
        </div>
        <header>
            <a href="/" class="logo">⧉</a>

            <nav>
                <ul>
                    <a href="/">Главная</a>
                    <a href="/about">О нас</a>
                    <a href="/players">Игроки клана</a>
                    <a href="/rating">Рейтинг</a>
                </ul>
            </nav>
            <div class="buttons-group-header">
                <button class="header-join-btn">Присоединится</button>
                <button class="header-join-btn">Авторизация</button>
            </div>
        </header>
        <h1 class="gradient-text content-top">О нас:</h1>
        <main>
            <div class = "box">
                <h3>Мы — не сборище одиночек, а сплоченный коллектив единомышленников, объединенных одной страстью: творить историю вместе! Мы строим, исследуем, покоряем ивенты и превращаем смелые замыслы в осязаемую реальность блок за блоком. Наше имя — Eclipse — символ того, как наше совместное сияние затмевает обыденность!</h3>
                <img src="{{ url_for('static', filename='1.png') }}">
            </div>
            <div class = "box">
                <h3>Мы не просто имеем фермы — мы создаем их с умом! Эффективность, автоматизация, эстетика (где это уместно) — наши технические гении постоянно совершенствуют инфраструктуру, чтобы ты мог максимально эффективно тратить свое игровое время на самое интересное.</h3>
                <img src="{{ url_for('static', filename='2.png') }}">
            </div>
            <div class = "box">
                <h3>Мы не просто участники — мы претенденты на вершину! От масштабных PvP-баталий до сложнейших PvE-испытаний и творческих конкурсов — клан Eclipse идет в бой сплоченным строем, чтобы добыть славу и награды для всех своих членов.</h3>
                <img src="{{ url_for('static', filename='1.png') }}">
            </div>
        </main>
        <footer>
        <div class="marquee" aria-label="Бегущая строка с ключевыми словами">
          <span>Весёлый</span> <span class="star">🐒</span>
          <span>Eclipse</span> <span class="star">🐒</span>
          <span>Уютный</span> <span class="star">🐒</span>
          <span>Eclipse</span> <span class="star">🐒</span>
          <span>Весёлый</span> <span class="star">🐒</span>
          <span>Eclipse</span>
        </div>
      </footer>
    </body>
</html>